.scrollbarWrapper {
	position: relative;
	overflow: hidden;
}

.scrollbarContent {
	float: left;
	overflow: hidden;
}

.scrollbarContainer {
	float: left;
	width: 15px;
	height: 100%;
	padding: 0;
	overflow: hidden;
	position: relative;
	background: #b4b4b4;
	border: 0 solid transparent;
	-webkit-border-radius: 5px;
}

.scrollbarHandle {
	background: #f0f0f0;
	border: 0px solid #b0b0b0;
	-webkit-border-radius: 5px;
	width: 13px;
	height: 12%;
	top: 0;
	margin-top: 1px;
	left: 1px;
	position: absolute;
	cursor: default;
}
